.box {
    width: 40%;
    height: 35%;
    border-style: solid;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
}